@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; 
@import "minimal-mistakes";

html {
  font-size: 15px; 

  @include breakpoint($medium) {
    font-size: 17px; 
  }

  @include breakpoint($large) {
    font-size: 19px; 
  }

  @include breakpoint($x-large) {
    font-size: 21px; 
  }
}